.input {
  padding: 0;
  margin: 0;
  outline: none;
  width: 50%;
  color: var(--font-color);

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  font-size: 16px;
  outline: none;

  &::foccus {
    border-color: #009ffd;
    box-shadow: 0 0 8px rgba(0, 159, 253, 0.5);
  }
  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  &:disabled {
    opacity: .5;
    background: rgba(10, 10, 10, 0.1);
  }
}
.checkbox-container {
  .checkbox {
    width: 20px;
    height: 20px;
    margin: auto;
    &:hover {
      cursor: pointer;
    }
  }
}
.dropdown-list {
  padding: 0;
  margin: 0;

  width: 50%;

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  color: var(--font-color);
  font-size: 16px;
  outline: none;
  .dropdown-list-option {
    color: black;
  }

  &::foccus {
    border-color: #009ffd;
    box-shadow: 0 0 8px rgba(0, 159, 253, 0.5);
  }
  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  &:disabled {
    opacity: .5;
    background: rgba(10, 10, 10, 0.1);
  }
}
.label {
  color: white;
  display: block;
  padding: 0;
  width: 50%;
  text-align: center;
}
.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.object-vector-property {
  display: flex;
  vertical-align: middle;

  font-size: var(--font-size-medium);
  .object-vector-propert-label {
    display: block;
    color: white;
    flex-grow: 0;
    flex-shrink: 0;
    width: 20%;
    text-align: center;
  }
  .vector-3-inputs {
    display: flex;
    flex-direction: row;
    width: 80%;
    flex-grow: 0;
    flex-shrink: 0;
    .vector-input-node {
      flex-direction: row;
      display: flex;
      width: 100%;
      margin-left: 20px;
      .vector-input-label {
        display: block;
        color: var(--font-color);
        margin-right: 10px;
      }
    }
  }
}

/* Hide the browser's default checkbox */

/* Create a custom checkbox */
